# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Xcode
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# Android
android/.gradle/
android/captures/
android/local.properties
android/GeneratedPluginRegistrant.java

# macOS
.DS_Store
macos/Pods/
macos/.symlinks/

# IDE
.idea/
*.swp

# Secrets
*firebase-adminsdk*.json
